body{
  background-color: black;
  margin:0px;
  padding:0px;
}
p{
  font-family: verdana;
  color: white;
  padding: 0;
  font-size: 14px;
}

.background-image {
  position: fixed;
  background-repeat: no-repeat;
  left: 0;
  right: 0;


  display: block;
  background-size: scale;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: grayscale(100%) blur(5px);
  z-index: -50;
}

/* Ultrawide */
@media screen and (min-width: 1929px) {
  .background-image {
    background-image: url("../img/ultrawide.jpg");
  }
  #wrapper_top{
    display: flex;
    flex-direction: row;
  }
  #top_header{
    background-image:  url("../img/logosmall.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 369px 100px;
    background-position: 95% 1%;
    height: 125px;
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #triangle-topright {
  	width: 0;
  	height: 0;
    margin-left: 50px;
  	border-top: 125px solid rgba(0, 0, 0, 0.5);
  	border-left: 200px solid transparent;
  }

  #main_wrapper{
    display: flex;
    margin-top: 50px;
    width: 100%;
    /*border: 2px solid yellow;*/
  }
  #desktop_menu{
    width: 40%;
    min-width: 400px;
    margin-right: 20px;
  }
  #biography{
    width: 50%;
    min-width: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    padding: 20px;
  }
  .menulinks{
    width: 80%;
  }
  ul{
    margin: 0px;
    margin-bottom: 0px;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  li{
    margin:1px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    /*width: 80% !important;*/
  }
  li:hover{
    color: hotpink;
  }


  #wrapper_bottom{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    bottom: 0px;
  }
  footer{
    color: black;
    font-weight: bold;
    height: 50px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);;

  }
  #triangle-bottomleft{
  	width: 0;
  	height: 0;
  	border-bottom: 50px solid rgba(0, 0, 0, 0.5);;
  	border-right: 200px solid transparent;
  }
}

/* Desktop */
@media screen and (max-width: 1919px){
  .background-image{
    background-image: url("../img/desktop.jpg");
  }
  #wrapper_top{
    display: flex;
    flex-direction: row;
  }
  #top_header{
    background-image:  url("../img/logosmall.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 369px 100px;
    background-position: 95% 1%;
    height: 125px;
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #triangle-topright {
  	width: 0;
  	height: 0;
    margin-left: 50px;
  	border-top: 125px solid rgba(0, 0, 0, 0.5);
  	border-left: 200px solid transparent;
  }

  #main_wrapper{
    display: flex;
    margin-top: 50px;
    width: 100%;
    /*border: 2px solid yellow;*/
  }
  #desktop_menu{
    width: 40%;
    margin-right: 20px;
  }
  #biography{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    padding: 20px;
  }
  .menulinks{
    width: 80%;
  }
  ul{
    margin: 0px;
    margin-bottom: 0px;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  li{
    margin:1px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    /*width: 80% !important;*/
  }
  li:hover{
    color: hotpink;
  }


  #wrapper_bottom{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    bottom: 0px;
  }
  footer{
    color: black;
    font-weight: bold;
    height: 50px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);;

  }
  #triangle-bottomleft{
  	width: 0;
  	height: 0;
  	border-bottom: 50px solid rgba(0, 0, 0, 0.5);;
  	border-right: 200px solid transparent;
  }
}

/* Tablet */
@media screen and (max-width: 1366px){
  .background-image {
    background-image: url("../img/ipad.jpg");
  }
  #wrapper_top{
    display: flex;
    flex-direction: row;
  }
  #top_header{
    height: 110px;
    width: 100%;
    margin: 0px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #triangle-topright {
  	width: 0;
  	height: 0;
    margin-left: 50px;
  	border-top: 125px solid rgba(0, 0, 0, 0.5);
  	border-left: 200px solid transparent;
  }




  #wrapper_bottom{
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    bottom: 0px;
  }
  footer{
    color: black;
    font-weight: bold;
    height: 50px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.5);;

  }
  #triangle-bottomleft{
  	width: 0;
  	height: 0;
  	border-bottom: 50px solid rgba(0, 0, 0, 0.5);;
  	border-right: 200px solid transparent;
  }
}

/* Mobile */
@media screen and (max-width: 480px){ /*736px*/
  .background-image {
    background-image: url("../img/mobile.jpg");
  }
  #wrapper_top{
    display: flex;
    flex-direction: row;
  }
  #top_header{
    background-image:  url("../img/logosmall.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 184px 50px;
    background-position: 5% 2%;
    height: 60px;
    width: 100%;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #triangle-topright {
    display: none;
  }

  #main_wrapper{
    display: flex;

    margin-top: 50px;
    width: 100%;
    /*border: 2px solid yellow;*/
  }
  #desktop_menu{
    display: none;
  }
  #biography{
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  .menulinks{
    width: 80%;
  }
  ul{
    display: none;

  }
  li{
    display: none;
  }
  li:hover{
    color: hotpink;
  }

  #wrapper_bottom{
    display: none;
  }
  footer{
    display: none;
  }
  #triangle-bottomleft{
    display: none;
  }
}
