.navbar-inverse {
    background-color: #ff00be;
    color: white;
}
.fill {
    display: flex;
    justify-content: space-around;
}
.carousel-caption {
    color: #ff00be;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.space{
    min-height: 150px;
}
.pink {
    font-size: 20px;
}