body{
  margin: 0px;
  color: white;
}
h1{
  color: white !important;
  font-size: 38px !important;
  margin: 0px !important;
}
p{
  color: white !important;
}
footer{
  padding:8px;
  color: black !important;
  font-weight: bold !important;
  width: 100%;
  margin-left: 0px;
background-color: yellow;
  position: absolute;
  bottom: 0px;

}
.background-image {
  position: fixed;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  z-index: -50;
  top: -15px;

  display: block;
  background-image: url("img/14572746_1660914187554754_823890011_o.jpg");
  width: 3840px;
  height: 2160px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: grayscale(100%) blur(5px);

}
#top_header{
  margin: 0px;
  margin-left: 15%;
  padding: 10px;
  padding-left: 40px;
  padding-bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}
.menulinks{
  width: 80%;
}

ul{
  margin: 0px;
  margin-bottom: 0px !important;
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
li{
  margin:1px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold !important;
  /*width: 80% !important;*/
}
/*li:hover{
  margin:1px;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.8);
  color: hotpink !important;
  font-weight: bold !important;
  width: 100% !important;
}*/
a{
  color: white !important;
  text-decoration: none;
}
a:hover{
  color: hotpink !important;
  text-decoration: none !important;
}

/*div{
  border: 4px solid ;
}*/
.insidediv{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-right: 100px;
}
.distance{
  height: 80px;
  /*background-color: black;*/
}
.lidistance{
  width:100% !important;
}
/* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {

   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {

   }

   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {

   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {

   }
